{extend name="public:child" /}
{block name="style"}
<link rel="stylesheet" type="text/css" href="_CSS_/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="_CSS_/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="_JS_/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="_SK_/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="_CSS_/style.css" />{/block}
{block name="title"}管理员添加{/block}
{block name="main"}<article class="page-container">
	<form class="form form-horizontal" id="form-admin-add">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="管理员名称" id="adminName" name="admin_name">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>工作编号：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="工作编号" id="admin_work_number" name="admin_work_number">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>初始密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" autocomplete="off" value="" pattern=".{6,20}" pm="密码要在6到20位之间" placeholder="密码" id="password" name="admin_password">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" autocomplete="off"  placeholder="确认新密码" id="password2">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
		<div class="formControls col-xs-8 col-sm-9 skin-minimal">
			<div class="radio-box">
				<input name="admin_sex" type="radio" id="sex-1" value="1" checked>
				<label for="sex-1">男</label>
			</div>
			<div class="radio-box">
				<input type="radio" id="sex-2" name="admin_sex" value="0" >
				<label for="sex-2">女</label>
			</div>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="手机号码" id="phone" name="phone">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" placeholder="@" name="email" id="email">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">角色：</label>
		<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
			<select class="select" name="adminRole" size="1">
				<option value="0">超级管理员</option>
				<option value="1">总编</option>
				<option value="2">栏目主辑</option>
				<option value="3">栏目编辑</option>
			</select>
			</span> </div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">备注：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea name="remarks" cols="" rows="" class="textarea"  placeholder="说点什么...100个字符以内" dragonfly="true" onKeyUp="$.Huitextarealength(this,100)"></textarea>
			<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
		</div>
	</div>	
	</form>
	<div class="row cl"  style="margin-top:15px;">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="button"  value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>

	
	
</article>{/block}
{block name="script"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	

	$('.page-container').on('click','[type="button"]',function (){
		pass = $('#password2').val();
		pas  = $('#password').val();
		name  = $('#adminName').val();
		
		if(name==""){
			alert('请输入管理员名称！');
			$('#adminName').focus();
		}else if(pas==""){
			alert('请输入密码！');
			$('#password').focus();

		}else if(pass==""){
			alert('确认密码输入不正确！');
			$('#password2').focus();
		}else{
			if(pass==pas){
				alert(6666);
			$.ajax({
				type:'post',
				url:"{:url('Admin/adminadd')}" ,
				data:$('#form-admin-add').serialize(),
				dataType:'json',
				success: function(data){
					alert(data.data);
					if(data.data==1){
						layer.msg('添加成功!',{icon:1,time:1000});
					}else{
						layer.msg('添加失败!',{icon:5,time:1000});
					}
					
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('error!',{icon:1,time:1000});
				}
			});
		}else{
			alert('确认密码输入不正确！');
			return false;
		}
		}
	});

	
});
function is_left(){
	
}
</script> 
<!--/请在上方写此页面业务相关的脚本-->{/block}